In [1]:
"""
read record from record.json file
"""
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [2]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'kurkure', 'pr': 30, 'qn': 2},
 '1011': {'name': 'sprite', 'pr': 40, 'qn': 1}}

In [3]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [7]:
"""
add record to IMS
"""


prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
print("Record are saved into IMS...")

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1015
Enter name:sniker
Enter price:10
Enter quantity:5
Record are saved into IMS...

In [8]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'kurkure', 'pr': 30, 'qn': 2},
 '1011': {'name': 'sprite', 'pr': 40, 'qn': 1},
 '1012': {'name': 'choco', 'pr': 39, 'qn': 5},
 '1013': {'name': 'biscuit', 'pr': 90, 'qn': 8},
 '1014': {'name': 'dairy milk', 'pr': 98, 'qn': 10},
 '1015': {'name': 'sniker', 'pr': 10, 'qn': 5}}

In [23]:
#Purchase
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))

print("Product: ", records[ui_prod]['name'])
print("Price: ", records[ui_prod]['pr'])
print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)

records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant

Enter the product_Id: 1002
Enter the quantity: 2
Product:  Milk Cake
Price:  800
Billing Amount:  1600

In [24]:
#Update Inventory after purchase
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

In [25]:
#Sales JSON
{'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

{'amount': 1600, 'prod': '1002', 'qn': 2}

In [27]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
}

In [28]:

sale = json.dumps(sales)

In [29]:
sale

'{"1": {"prod": "1002", "qn": 2, "amount": 1600}}'